/*HERENCIA*/
body {
    font-family: Arial;
    color: blue;
}
section {
    font-size: 18px; 
}
ul {
    color: green;
}
li {
    font-style: italic;
}
p {
    line-height: 1.5;
}
h1 {
    color: brown;
}
h2 {
    text-transform: uppercase;
}

/*CASCADA*/
p {
    color: red;
}
p {
    color: orange;
}
p.destacado {
    color: purple;
}
#especial {
    color: black;
}
p {
    color: gray !important;
}

